.container
  %h1 Listing interviews
%br
.container
  .table-responsive
    %table{:class => "table"}
      %tr
        %th Candidate
        %th Interviewer 1
        %th Interviewer 2
        %th Interviewer 3
        %th GPA
        %th What are three highlights from your resume? 
        %th Why do you want to join SEP and what are you looking to gain?
        %th Tell me a skill or idea you have taught yourself in the last six months. How did you go about teaching yourself this new skill or idea, and what was the result? 
        %th What is the ideal business you would like to be apart of or start? Follow up: Now tell me 3 more in different industries (not specific startups we're looking for industries of interest).
        %th Tell me about a startup you find interesting and why? follow-up with: can you think of any concerns with this product/startup?
        %th Market sizing questions, these could include, find the number of red cups used in 1 day at Berkeley or the number of people in USA who enjoy electronic music? 
        %th Overall Score
        %th What do you know about the pledge process so far?
        %th Do you have any questions for us?
        %th Intangible Additions to Interview
      - @apps.each do |app|
        - app.interviews.each do |interview|
          %tr
            %td
              %p= app.name
            %td
              %p= interview.interviewer_1
            %td
              %p= interview.interviewer_2
            %td
              %p= interview.interviewer_3
            %td
              %p= interview.gpa
            %td
              %p= "Score: " + interview.score_1.to_s
              %p= interview.question_1
            %td
              %p= "Score: " + interview.score_2.to_s
              %p= interview.question_2
            %td
              %p= "Score: " + interview.score_3.to_s
              %p= interview.question_3
            %td
              %p= "Score: " + interview.score_4.to_s
              %p= interview.question_4
            %td
              %p= "Score: " + interview.score_5.to_s
              %p= interview.question_5
            %td
              %p= "Score: " + interview.score_6.to_s
              %p= interview.question_6
            %td
              %p%td
              %p= "Score: " + interview.score_1.to_s
              %p= interview.question_1
            %td
              %p= "Score: " + interview.score_2.to_s
              %p= interview.question_2
            %td
              %p= "Score: " + interview.score_3.to_s
              %p= interview.question_3
            %td
              %p= "Score: " + interview.score_4.to_s
              %p= interview.question_4
            %td
              %p= "Score: " + interview.score_5.to_s
              %p= interview.question_5
            %td
              %p= "Score: " + interview.score_6.to_s
              %p= interview.question_6= interview.overall
            %td
              %p%td
              %p= "Score: " + interview.score_1.to_s
              %p= interview.question_1
            %td
              %p= "Score: " + interview.score_2.to_s
              %p= interview.question_2
            %td
              %p= "Score: " + interview.score_3.to_s
              %p= interview.question_3
            %td
              %p= "Score: " + interview.score_4.to_s
              %p= interview.question_4
            %td
              %p= "Score: " + interview.score_5.to_s
              %p= interview.question_5
            %td
              %p= "Score: " + interview.score_6.to_s
              %p= interview.question_6= interview.question_7
            %td
              %p%td
              %p= "Score: " + interview.score_1.to_s
              %p= interview.question_1
            %td
              %p= "Score: " + interview.score_2.to_s
              %p= interview.question_2
            %td
              %p= "Score: " + interview.score_3.to_s
              %p= interview.question_3
            %td
              %p= "Score: " + interview.score_4.to_s
              %p= interview.question_4
            %td
              %p= "Score: " + interview.score_5.to_s
              %p= interview.question_5
            %td
              %p= "Score: " + interview.score_6.to_s
              %p= interview.question_6= interview.question_8
            %td
              %p= interview.comments