%h2
  Application Form
  %small
    Status:
    -if @application.submitted
      Submitted
    -else
      Not submitted

%hr
-if @application.submitted == true
  = simple_form_for(@application, defaults: {disabled: true}, :url => rush_application_path(@application)) do |f|
    .row
      .col-xs-12
        %h3
          Personal Information
    %br
    .row
      .col-md-5
        = f.input :name
        = f.input :email
        = f.input :phone_number
      .col-md-5
        = f.input :year
        = f.input :major
        -if @application.picture.exists?
          %p
            = link_to "Your Uploaded Picture", @application.picture.url
        -if @application.resume.exists?
          %p
            = link_to "Your Uploaded Resume", @application.resume.url
    %hr
    .row
      .col-xs-12
        %h3
          Detailed Personal Information
    %br
    .row
      .col-md-5
        = f.input :extracurriculars, as: :text, label: "What are your other commitments this semester? (List your classes, work and other extracurriculars along with the number of hours of commitment.)"
        = f.input :hobbies, as: :text, label: "2. What are your hobbies?"
      .col-md-5
        = f.input :why_sep, as: :text, label: "3. Why do you want to be a part of SEP? (200 words or less)"
    -#%hr
    -#.row
      -#.col-xs-12
        -#%h3
          -#Short Answer
        -#%small
          -#Please answer any 2 of the 3 prompts below. (200 words or less each)
    -#%br
    -#.row
      -#.col-md-5
        -#= f.input :short_answer1, required: false, as: :text, label: "1. What is your passion, and how does your passion drive you?"
        -#= f.input :short_answer2, required: false, as: :text, label: "2. Identify one problem or inefficiency that can successfully be addressed by entrepreneurial action. Specify actionable items that can be applied to the situation. There is no need to constrain yourself to business-related industries — choose a topic in which you have authentic passion."
      -#.col-md-5
        -#= f.input :short_answer3, required: false, as: :text, label: "3. Identify a startup that inspires you. Analyze their business model and target market."
    -#%hr
    -#.row
      -#.col-xs-12
        -#%h3
          -#Miscellaneous
-else
  = simple_form_for(@application, :url => rush_application_path(@application), :html => { id: "app_form" }) do |f|
    .row
      .col-xs-12
        %h3
          Personal Information
    %br
    .row
      .col-md-5
        = f.input :name, required: true
        = f.input :email, required: true
        = f.input :phone_number, required: true
      .col-md-5
        = f.input :year, required: true
        = f.input :major, required: true
        -if @application.picture.exists?
          %p
            = link_to "Your Uploaded Picture", @application.picture.url
        -else
          = f.input :picture, as: :file, label: "Please upload a picture of yourself, to help us identify you.", required: true
        -if @application.resume.exists?
          %p
            = link_to "Your Uploaded Resume", @application.resume.url
        -else
          = f.input :resume, as: :file, label: "Please upload your updated resume. (PDF)", required: true
    %hr
    .row
      .col-xs-12
        %h3
          Detailed Personal Information
    %br
    .row
      .col-md-5
        = f.input :extracurriculars, as: :text, label: "What are your other commitments this semester? (List your classes, work and other extracurriculars along with the number of hours of commitment.)", required: true
        = f.input :hobbies, as: :text, label: "2. What are your hobbies?", required: true
      .col-md-5
        = f.input :why_sep, as: :text, label: "3. Why do you want to be a part of SEP? (200 words or less)", required: true
    -#%hr
    -#.row
      -#.col-xs-12
        -#%h3
          -#Short Answer
        -#%small
          -#Please answer any 2 of the 3 prompts below. (200 words or less each)
    -#%br
    -#.row
      -#.col-md-5
        -#= f.input :short_answer1, required: false, as: :text, label: "1. What is your passion, and how does your passion drive you?"
        -#= f.input :short_answer2, required: false, as: :text, label: "2. Identify one problem or inefficiency that can successfully be addressed by entrepreneurial action. Specify actionable items that can be applied to the situation. There is no need to constrain yourself to business-related industries — choose a topic in which you have authentic passion."
      -#.col-md-5
        -#= f.input :short_answer3, required: false, as: :text, label: "3. Identify a startup that inspires you. Analyze their business model and target market."
    -#%hr
    -#.row
      -#.col-xs-12
        -#%h3
          -#Miscellaneous
    %br
    .row
      .col-md-5
        = f.input :reference, :as => :select, label: "How did you hear about us? " do                                                                                                                                  |
          f.select :reference, [['Classroom Announcement', 'classroom_announcement'], ['Flyer', 'flyer'], ['Table on Sproul', 'table'], ['Classroom Chalking', 'chalking'], ['Friend', 'friend'], ['Other', 'other']] |
          end                                                                                                                                                                                                         |
    = f.button  :submit , name: "subaction",value: "Save", class: 'btn-info cancel'
  
    = f.button :submit, :name => 'subaction', value: 'Submit', class: 'btn-success', onclick:"return confirm('Once you submit, you will be unable to edit your application.')"
:javascript
  $("#app_form").validate();